#cap,
#menu,
#info,
#peu {
    position: fixed;
    border: 1px solid black;
}

body {font-family: 'Times New Roman';}
.estil1 {text-align: justify}

#cap {
    top: 0px;
    left: 5px;
    height: 100px;
    width: 1910px;
    background: rgb(253, 185, 120);
}

#menu {
    top: 101px;
    left: 5px;
    height: 750px;
    width: 210px;
    background: rgb(253, 214, 214);
}

#info {
    top: 101px;
    left: 215px;
    height: 750px;
    width: 1700px;
    background: rgb(255, 228, 194);
}

#peu {
    top: 852px;
    left: 5px;
    height: 50px;
    width: 1910px;
    background: #CCC;
}