body {
    font-family: 'Times New Roman';
}

.estil1 {
    text-align: justify
}

#cap {
    height: 100px;
    width: 100%;
    background: rgb(253, 185, 120);
}

#menu {
    float: left;
    height: 83vh;
    width: 14%;
    background: rgb(253, 214, 214);
}

#info {
    float: left;
    height: 83vh;
    width: 86%;
    background: rgb(255, 228, 194);
}

#peu {
    top: 94%;
    clear: both;
    height: 50px;
    width: 99%;
    background: #CCC;
    position: fixed;
}

.sinpuntos {
    list-style-type: none;
}

a:link, a:visited {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
  }
